header .container {
    @include d-flex-jc-ac;
    height: 100px;

    img {
      margin: 0 10px;
      width: 70px;
    }

    ul {
      @include d-flex-jc-ac;

      li {
        @include d-flex-jc-ac;
        list-style: none;

        a {
          @include link;
          &:hover,
          &.active {
            border-bottom: 2px solid $colorePrimario;

          }

        }
      }
    }
  }
